<div class="home-root-content">
  <div class="about-content">
    <h3>Music band manager</h3>
    <button class="register-button" mat-button color="primary" (click)="navigateTo('register')">Register now</button>
  </div>
  <div class="divider-content">
    <mat-divider class="mat-divider"></mat-divider>
  </div>
  <div class="home-content">
    <button class="home-button" mat-raised-button color="primary" (click)="navigateTo('bands')">Bands</button>
    <button class="home-button" mat-raised-button color="primary" (click)="navigateTo('route2')">Option2</button>
    <button class="home-button" mat-raised-button color="primary" (click)="navigateTo('route3')">Option3</button>
  </div>
</div>
