.home-page-content {
  display: flex;
  align-content: flex-start;
  background-color: darkgrey;
  width: 100%;
}

mat-drawer-container {
  height: 100%;
  width: 100%;
}

mat-drawer {
  color: white;
  text-align: center;
  justify-content: center;
  width: 140px;
  background-color: #000000;
  background-image: linear-gradient(147deg, #03031F 0%, #141F64 250%);
}

.content {
  height: 94%;
}
