.content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 100px;
}
button {
  padding-top: 10px;
}
button:first-child {
  padding-top: 0;
}

.hide-sidenav {
  width: 0;
}

.hide-menu mat-icon:last-child {
  margin-left: -13px;
}
