<div *ngIf="(activeSession$ | async).sessionLoggedIn" class="content">
  <button mat-button (click)="navigateTo('/pa165')">Home</button>
  <button *ngIf="!(activeSession$ | async).commonUser" mat-button (click)="navigateTo('band-manage')">Manage Band</button>
  <button *ngIf="(activeSession$ | async).commonUser" mat-button (click)="navigateTo('band')">My band</button>
  <button *ngIf="!(activeSession$ | async).commonUser" mat-button (click)="navigateTo('musicians')">Musicians</button>
  <button *ngIf="(activeSession$ | async).commonUser" mat-button (click)="navigateTo('offers')">My Offers</button>
  <button *ngIf="!(activeSession$ | async).commonUser" mat-button (click)="navigateTo('create-band')">Band Creator</button>
</div>
