.content {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.band-container {
  margin-left: 100px;
  margin-top: 100px;
}

.band-content {
  display: flex;
  flex-direction: row;
}

.card-content {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  max-width: 800px;
}

.year-content {
  margin-bottom: 15px;
  font-style: oblique;
}

.album-content {
  margin-bottom: 15px;
  width: 600px;
}

.band-info {
  width: 600px;
  padding-right: 200px;
}

.band-logo mat-icon{
  font-size: 70px;
  margin-bottom: 5px;
}

.tour-content, .albums-content {
  display: flex;
  flex-direction: column;
}

.tour-content {
  width: 650px;
  margin-bottom: 20px;
}

.song-label {
  margin-bottom: 10px;
}

.song-content, .member-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.members-info {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 650px;
}

.instruments-content {
  width: 280px;
}

.instruments-content mat-list-option {
  margin-bottom: 5px;
}
